<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   <!-- social media icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% if title %}
        <title>Bookstore - {{ title }}</title>
    {% else %}
    <title>Bookstore</title>
    {% endif %}
</head>
<body>
    <!-- Navigation bar -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand text-warning ml-3" href="{{ url_for('main.home') }}">
            <span class="fa fa-book"></span>
            BookStore
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav mr-auto "> <!-- mr-auto da na lavu stranu tieto linkz  --> 
                
                <!-- Possible Dropdown pre zanre -->
                <a class="nav-item nav-link text-light ml-1" href="{{ url_for('search.search_all') }}">Knihy</a>

                <a class="nav-item nav-link text-light" href="{{ url_for('main.contact') }}">Kontakt</a>
                <a class="nav-item nav-link text-light" href="#">Pomoc</a>

                
               
            </div>
             
            <!-- Search bar -->
            <div class="navbar-nav mr-3">
                <form class="form-inline" method="GET" action="{{ url_for('search.search') }}">
                    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Názov knihy" aria-label="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Hľadať</button>
                </form>
            </div>


            <!-- Zmenia sa linky v zavislosti od toho či je uzivatel prihlaseny -->
            {% if current_user.is_authenticated %}
            
                <div class="navbar-nav ml-2 dropdown">
                    
                        <a class="nav-item nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-user-circle-o mr-sm-1"></span>   {{ current_user.username }} 
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="{{ url_for('account.my_account') }}" class="dropdown-item"> Môj účet </a>
                            
                            <!-- Test -->
                            <a href="{{ url_for('admin.gen_book') }}" class="dropdown-item"> Pridať knihu </a>
                            <!-- EndTest -->
                            <div class="dropdown-divider"></div>
                            <a href="{{ url_for('account.logout') }}" class="dropdown-item"> Odhlásiť sa </a>
                        </div>
                    
                </div>
            {% else %}
                <div class="navbar-nav ml-2">
                    <a class="nav-item nav-link text-light" href="{{ url_for('account.login') }}">
                        <span class="fa fa-user-circle-o"></span>   Prihlásiť sa  
                    </a>
                </div>
            {% endif %}

            <!-- Dostupné aj ked uživatel nie je prihlaseny -->
            <div class="navbar-nav mr-3 ml-2">
                <a class="nav-item nav-link text-light" href="{{ url_for('shop.cart')}}">
                    <span class="fa fa-shopping-cart mr-sm-1"> </span>
                    Košík 
                </a>
            </div>
          
        </div>
    </nav>


    <!-- Flash messages -->
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <!-- Content of the page -->

    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    
    <div class="empty-section mt-5 mb-5">
        <div>

        </div>
    </div>




    <!-- Footer -->
    <footer class="page-footer bg-dark pt-3 pb-3 mt-5">
        
        <div class="container">

            <!-- Info -->
            <div class="row">
                <div col-sm-4>
                    <div class="text-white">
                        <p class="font-weight-bold h2">
                            BookStore
                        </p>
                         
                         <p class=" ">
                            Najväčšie internetové kníhkupectvo
                         </p>
                         <p class="fa fa-copyright small mb-1 mt-auto">
                            Copyright 2020
                         </p>
                    </div>
                </div>
            <div class="col-sm-1">

            </div> 
             
            <!-- ODKAZY  -->
            <div class="col-sm-2 text-white small ">
                <ul class="list-unstyled ">
                    <li class="border-bottom h6">
                        ODKAZY
                    </li>

                    <li class="">
                        <a href="{{ url_for('main.about') }}" class="text-white text-decoration-none"> O Nás  </a>
                    </li>

                    <li class="">
                        <a href="{{ url_for('main.contact') }}" class="text-white text-decoration-none"> Kontakty </a>
                    </li>

                    <li class="">
                        <a href="#" class="text-white text-decoration-none"> Reklamačný poriadok </a>
                    </li>

                    <li class="">
                        <a href="#" class="text-white text-decoration-none"> Obchodné podmienky </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-1">

            </div>


            <!-- Social Page Buttons -->

            <div class="col-sm-3 ml-auto mt-auto">
                <div>
                    <ul class="list-unstyled list-inline m-2">

                        <li class="list-inline-item">
                            <a  href="#" class="text-white">
                                <i class="fa fa-facebook fa-3x">  </i>
                            </a>
                        </li>

                        <li class="list-inline-item m-2">
                            <a  href="#" class="text-white">
                                <i class="fa fa-twitter fa-3x">  </i>
                            </a>
                        </li>

                        <li class="list-inline-item m-2">
                            <a  href="#" class="text-white">
                                <i class="fa fa-instagram fa-3x">  </i>
                            </a>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
            </div>

            </div>  <!-- end of row -->

            
            

    </footer>
    

    <!-- Bootstrap scripts  -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>  
</body>
</html>