
{% for book in books.items %}

    <div class="mt-4 bg-light ">
        <div class="row">
            <div class="col ">
                <a href="{{url_for('books.book', book_id=book.id) }}">
                <img class="m-2 float-left rounded" src="{{url_for('static', filename='pictures/books/' + book.picture) }}" alt="Obrázok sa nenašiel" width="100"  height="100">
                </a>
                {% set curr_author = authors.get(book.author_id) %}
                <div class="mt-2">
                    <a href="{{url_for('books.book', book_id=book.id) }}" class="text-dark "> <h3> <b>{{book.title }} </b> </h3></a>
                    <a href="{{ url_for('search.search_by_author', author_name=curr_author.name) }}"><span class="text-muted"> <h5>{{ curr_author.name }}</h5></span></a>
                </div>
                
                
            </div>
            <div class="col-2 mr-2">
                
                
                <p class="text-center">
                    
                    <span class="h2 mt-3 text-dark "> <b> {{book.price}} € </b> </span>  <br>
                    <span class="h6 text-muted text-center"> <s> {{book.price + 4.00}} € </s> </span>
                    
                </p>

                <div class="text-right m-2">
                    <a href="#" class="btn btn-dark btn-lg">Kúpiť</a> <br>
                </div>
                
            </div>
        </div>
    </div>

{% endfor %}

<div class="ml-1 mt-5">
{% for page_num in books.iter_pages() %}
    {% if page_num %}
        {% if page_num == books.page %}
            <a class="btn btn-dark mb-4" href="{{ url_for(request.endpoint, author_name=request.args.get('author_name'), page=page_num, q=request.args.get('q')) }}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-outline-dark mb-4" href="{{ url_for(request.endpoint, author_name=request.args.get('author_name'), page=page_num, q=request.args.get('q')) }}">{{ page_num }}</a>
        {% endif %}
    {% endif %}
{% endfor %}

</div>
