{% extends "layout.html" %}
{% block content %}




<div class="container p-3 mt-3">
    
    <div class="row align-items-center mt-3">
        <div class="col-2"></div>
        <div class="col-6 ">
            {% include "generalForm.html" %}

            <div class="border-top mt-3 text-muted ">
                Ešte nemáš účet? 
                <a href="{{ url_for('account.register') }}" class="text-info"> Registruj sa </a>
            </div>
        </div>
        
        
        
    </div>
    
    
    <div class="row empty pb-5 mt-5"></div>
    
    

</div>

{% endblock %}