{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4 font-weight-bold">Nájdi info o knihe</h1>
    <p class="lead">Napíš do vyhľadávača názov knihy, ktorú chceš pridať alebo meno autora</p>
    <hr class="my-4">
    <form action="" method="POST">
        {{find_form.hidden_tag()}}
        <div class="form-group mb-1">
            {{ find_form.name(class="form-control form-control-lg", placeholder="Názov knihy alebo meno autora") }}
        </div>
            {{ find_form.submit(class="btn btn-outline-dark btn-lg")}}
    </form>
</div>



    <div class="container">
        <form action="" method="POST">
            {{gen_form.hidden_tag()}}
            <div class="form-group mb-1">
                {{ gen_form.select(class="custom-select custom-select-lg") }}
            </div>
            
            {{ gen_form.submit(class="btn btn-outline-dark btn-lg")}}
        </form>
    </div>


{% endblock %}


<!-- <div class="form-group">
    <input type="text" placeholder="Názov knihy alebo meno autora" class="form-control form-control-lg">
    <input type="button" value="Hľadať" class="btn btn-outline-dark mt-3 btn-lg">
</div> -->
<!-- 
<div class="form-group">
    <select class="custom-select custom-select-lg mt-3">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</div>
<div>
    <input type="button" value="Pokračovať" class="btn btn-outline-dark mt-3 btn-lg">
</div> -->